body {
  background-color: #eeeeee;
  color: #333333;
}

header {
  margin-top: 20px;
  background-color: #364f6b;
  text-align: center;
  font-size: 50px;
  color: #e0f2ffe1;
}

input[type="text"] {
  font-size: x-large;
  color: #574b90;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.label-name {
  font-size: 30px;
  font-weight: bold;
  color: #3c6ba1;
}

@media (max-width: 600px) {
  .center-list {
    text-align: start;
  }

  .list {
    padding-left: 0;
  }

  li {
    font-size: 25px;
    line-height: 1.5;
    padding-left: 10px;
    box-shadow: 2px 2px 2px rgb(187, 169, 169);
    margin: 10px;
    margin-left: 0px;
  }

  [data-theme="dark"] li {
    font-style: bold;
  }

  button {
    visibility: visible;
    background-color: #eeeeee;
  }

  .fa-trash {
    color: #5c528f;
  }

  .label-name {
    margin-top: 0;
    text-align: center;
  }

  .input {
    margin-top: 20px;
  }
}

@media (min-width: 601px) {
  .list {
    padding-top: 30px;
    font-size: 30px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-indent: 10px;
  }

  .label-name {
    margin-top: 0;
    margin-left: 90px;
  }

  .center-list {
    /* margin-left: 500px;
  margin-right: 500px; */
    margin-left: 34%;
    width: 34%;
  }

  .input {
    /* margin-left: 500px;
    margin-top: 100px; */
    margin-left: 34%;
  }
  .input-field {
    /* width: 500px; */
    width: 50%;
  }

  button {
    visibility: hidden;
    background-color: #e0f2ff;
  }

  .fa-trash {
    color: #333333;
  }

  li {
    margin: 5px;
  }
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  transform: scale(1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

ul li:hover {
  background: #364f6b;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  color: #e0f2ff;
}

ul li:hover button {
  visibility: visible;
}

li {
  box-shadow: 2px 2px 2px rgb(201, 168, 168);
  color: #3a3264;
}

button {
  margin: 2%;
  float: right;
  cursor: pointer;
}

/* DARK THEME */
[data-theme="dark"] {
  transition-duration: 1s;
  transition-timing-function: ease-in;
  background-color: rgb(8, 1, 39);
  color: blanchedalmond;
}

[data-theme="dark"] li {
  color: hsla(200, 0%, 0%, 0.7);
  background-color: blanchedalmond;
}

[data-theme="dark"] header {
  margin-top: 20px;
  background-color: #eeeeee;
  text-align: center;
  font-size: 50px;
  color: #364f6b;
}

[data-theme="dark"] .label-name {
  font-size: 30px;
  font-weight: bold;
  color: #dbdee2;
}

.check {
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 0px; */
  /* font-size: 30px;  */
  /* width: 70px; */
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  /* display: flex;
  justify-content: center;
  box-sizing: border-box; */
}

.switch-input {
  opacity: 0;
  position: absolute;
}

.switch-input:checked + .switch-label .ball {
  transform: translateX(24px);
}

.switch-label {
  height: 26px;
  width: 50px;
  background-color: #2e2848;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.fa-moon {
  padding-left: 5px;
  color: #f1c40f;
}

.fa-sun {
  padding-right: 5px;
  color: #f39c12;
}

.ball {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-color: #ffffff;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}
