body {
  background-color: #43dde6;
  color: #fc5185;
}

header {
  margin-top: 20px;
  background-color: #364f6b;
  text-align: center;
  font-size: 50px;
  color: #e0f2ff;
}

input[type="text"] {
  font-size: x-large;
  color: #574b90;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.label-name {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .center-list {
    text-align: start;
  }

  .list {
    padding-left: 0;
  }

  li {
    font-size: 30px;
    line-height: 1.5;
    padding-left: 10px;
  }

  .label-name {
    text-align: center;
  }
}

@media (min-width: 601px) {
  .list {
    padding-top: 30px;
    font-size: 30px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-indent: 10px;
  }

  .center-list {
    /* margin-left: 500px;
  margin-right: 500px; */
    margin-left: 34%;
    width: 34%;
  }

  .input {
    /* margin-left: 500px;
    margin-top: 100px; */
    margin-left: 34%;
  }
  .input-field {
    /* width: 500px; */
    width: 50%;
  }
}

button {
  visibility: hidden;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  transform: scale(1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

ul li:nth-child(odd):hover {
  background: #f0e40c;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

ul li:nth-child(even):hover {
  background: #ec0945;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

ul li:hover button {
  visibility: visible;
}

li:nth-child(odd) {
  background-color: #faee1c;
  color: #581b98;
  margin: 5px;
}

li:nth-child(even) {
  background-color: #ff1f5a;
  color: #c4def0;
  margin: 5px;
}

button {
  margin: 2%;
  float: right;
  background-color: darkviolet;
  cursor: pointer;
}

.fa-trash {
  color: darkorange;
}
